@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ArchivoBlack/ArchivoBlack-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Special_Elite/SpecialElite-Regular.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Inconsolata, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: 'Josefin Slab', serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Special Elite', serif;
  background-color: #171717;
  color: #ff8e8e;
}

h1 {
  text-transform: uppercase;
  font-family: 'Archivo Black';
  padding-bottom: .5em;
}

h1.show {
  font-size: 1.2em;
}

.venue {
  font-style: italic;
}

h4.venue {
  margin-top: 0;
}

.artist {
  font-style: bold;
}

.artistList {
  line-height: 1.2;
  padding-bottom: 1em;
}

.artistListItem {
  font-style: bold;
  font-size: 1.4em;
}

a {
  color: #804444;
  text-decoration: underline;
  font-family: 'Special Elite';
}

.showMetadata {
  margin-top: 1em;
}

.showContainer {
  padding: 1rem;
}


.imgContainer {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.clickZoom input[type=checkbox] {
  display: none;
}

.clickZoom .zoomContent {
  cursor: zoom-in;
  display: block;
}

.clickZoom img {
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 100%;
  display: block;
}

/* Hidden overlay by default */
.clickZoom .zoomOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.92);
  z-index: 999;
  cursor: pointer;
}

/* Show overlay when zoomed */
.clickZoom input[type=checkbox]:checked ~ .zoomOverlay {
  display: block;
}

/* Zoomed image styling */
.clickZoom input[type=checkbox]:checked ~ .zoomContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: zoom-out;
  text-align: center;
}

.clickZoom input[type=checkbox]:checked ~ .zoomContent img {
  max-width: 90vw;
  max-height: 85vh;
  width: auto;
  height: auto;
  object-fit: contain;
}


.showLink {
  color: #a5937d;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carouselOverride .carousel .thumb:hover {
  border: 3px solid #fff;
}

.carouselOverride .carousel .thumb.selected {
  border: 3px solid #fff;
}

.carouselOverride .carousel .thumb {
  border: 3px solid #333;
}